name: CI

on:
  push:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore src/Web/Web.csproj

    - name: Build
      run: dotnet build src/Web/Web.csproj --no-restore --configuration Release

    - name: Application Tests
      run: dotnet test tests/ApplicationTests/ApplicationTests.csproj --configuration Release --no-build --verbosity normal

    - name: Run Integration Tests
      run: dotnet test tests/IntegrationTests/IntegrationTests.csproj --configuration Release --no-build --verbosity normal
